{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_booking/business_card

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-region

    Example context (json):
    {
        "piechart": "<div class=\"chart-area\" id=\"chart-area-667a7bc7a13d2667a7bc7995b77\"> <div class=\"chart-image\" role=\"presentation\" aria-describedby=\"chart-table-data-667a7bc7a13d2667a7bc7995b77\"></div> <div class=\"chart-table \"> <p class=\"chart-table-expand\"> <a href=\"#\" aria-controls=\"chart-table-data-667a7bc7a13d2667a7bc7995b77\" role=\"button\"> Show chart data </a> </p> <div class=\"chart-table-data\" id=\"chart-table-data-667a7bc7a13d2667a7bc7995b77\" role=\"complementary\" aria-expanded=\"false\"></div> </div> </div>",
    }

}}
<div class="qbank_nocorrectanswer_question-statistics-container">
    <div class="qbank_nocorrectanswer_results-overview">
        {{#lastpiechart}}
        <div class="qbank_nocorrectanswer_results-card">
            <h6>{{strings.performanceoverview_performance}}</h6>
            <div class="qbank_nocorrectanswer_chart-image">
                {{{lastpiechart}}}
                <span class="qbank_nocorrectanswer_number">
                    {{lastquiz.usergrade}}
                </span> {{strings.performanceoverview_from}} <span class="qbank_nocorrectanswer_number">
                  {{lastquiz.grade}}
                  {{strings.performanceoverview_points}}
                </span>
            </div>
        </div>
        {{/lastpiechart}}
        {{#fivepiechart}}
        <div class="qbank_nocorrectanswer_results-card">
            <h6>{{strings.performanceoverview_average}}</h6>
            <div class="qbank_nocorrectanswer_chart-image">
                {{{fivepiechart}}}
                <span class="qbank_nocorrectanswer_number">
                  {{lastfivequiz}}
                </span> {{strings.performanceoverview_from}}
                <span class="qbank_nocorrectanswer_number">
                  {{lastquiz.grade}}
                  {{strings.performanceoverview_points}}
                </span>
            </div>
        </div>
        {{/fivepiechart}}
        <div class="qbank_nocorrectanswer_comparison-text">{{strings.performanceoverview_current}}</div>
        <div class="qbank_nocorrectanswer_results-card">
            <h6>{{strings.performanceoverview_average_total}}</h6>
            <div class='qbank_nocorrectanswer_icon_value'>
                <i class="fas fa-tachometer-average"></i>
                <span class="qbank_nocorrectanswer_number">
                  {{lastquiz.avg_total_sumgrades}}
                </span>
            </div>
        </div>
        <div class="qbank_nocorrectanswer_results-card">
            <h6>{{strings.performanceoverview_max_total}}</h6>
            <div class='qbank_nocorrectanswer_icon_value'>
                <i class="fa fa-star"></i>
                <span class="qbank_nocorrectanswer_number">
                  {{lastquiz.max_total_sumgrades}}
                </span>
            </div>
        </div>
        <div class="qbank_nocorrectanswer_results-card">
            <h6>{{strings.performanceoverview_testvalue}}</h6>
            <div class='qbank_nocorrectanswer_icon_value'>
                <i class="fa-solid fa-chart-column"></i>
                <span class="qbank_nocorrectanswer_number">100</span>
            </div>
        </div>
        <div class="qbank_nocorrectanswer_results-card">
            <h6>{{strings.performanceoverview_percentage}}</h6>
            <div class='qbank_nocorrectanswer_icon_value'>
                <i class="fa-solid fa-people-group"></i>
                <span class="qbank_nocorrectanswer_number">100 %</span>
            </div>
        </div>
    </div>
</div>

